# macOS
*.DS_Store

# Xcode local
xcuserdata/

# Fastlane
**/fastlane/README.md
**/fastlane/report.xml
**/fastlane/DerivedData
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Obfuscated constants
**/ObfuscatedConstants.swift

# localization
_translations
